//Left Side Nav

.leftItems {
  width: 20%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  

  .menu-box {
    width: 15vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5vh;
    //position: fixed;

    .menu {
      list-style-type: none;
      text-transform: uppercase;
      font-size: 1.2vw;
    }

    .categories {
      font-size: 1vw;
      margin-top: 6rem;
      color: #a6a6a5;
    }
  }
}
