@import "_topnav.scss";
@import "_leftItems.scss";
@import "_body.scss";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  //background-color: #FFE18E;
  //font-family: 'Roboto', sans-serif;
  font-family: "Roboto Slab", serif;
  color: #20201e;
}

// html {
//   box-sizing: border-box;
//   scroll-behavior: smooth;
//   font-family: "lato", serif;
//   font-weight: 500;
// }


