html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "lato", serif;
    font-weight: 500;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  main{
      display: flex;
      flex-direction: column;

      section{
          display: flex;
          flex-direction: row;
        width: 100%;
        height: 100vh;
        
        .one{
            width: 30%;
            height: 100%;   
        }

        .main_section{
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .menu_name{
                width: 100%;
                height: 50px;

            }
            .menu_options{
                width:100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap:wrap;

              .item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-width: 300px;
                min-height: 300px;
                width: 30%;
                background-color: rgb(158, 158, 179);
                margin: 1rem;
                padding: .5rem;
           

                .pizza_img{
                    border-radius: 20px;
                  
                }

                .icon{
                  
                
                   font-size: 30px;
                   color: white;
                }
                
                .price{
                   font-style: italic;
                   
                }
                .name{
                    font-size: 25px;
                    font-weight: 900;
                }

                .description{
                    text-align: center;
                    
                }
            }  
            } 
        }
      }
  }