/*
$breakpoint argument choices:
-phone max 600px;
-600-900 tablet portrait;
-900-1200 tablet landscape
-1200-1800 laptop;
-over 1800 big desktop


*/
nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 600px) {
  nav {
    height: 30vh;
    flex-direction: column;
  }
}
nav .logo {
  width: 25vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Caveat", cursive;
}
@media (max-width: 600px) {
  nav .logo {
    width: 55vw;
    height: 15vh;
  }
}
nav .logo p {
  width: 20vw;
  height: 7vh;
  font-size: 3.5vw;
  color: #f86e6e;
  cursor: pointer;
}
@media (max-width: 600px) {
  nav .logo p {
    width: 40vw;
    height: 10vh;
    font-size: 12vw;
  }
}
nav .filters-box {
  width: 45vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  nav .filters-box {
    width: 75vw;
    height: 7vh;
    align-items: center;
  }
}
nav .filters-box .title {
  width: 11vw;
  height: 5vh;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #a6a6a5;
}
@media (max-width: 600px) {
  nav .filters-box .title {
    display: none;
  }
}
nav .filters-box .filters {
  width: 34vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}
nav .filters-box .filters .filter1,
nav .filters-box .filters .filter2,
nav .filters-box .filters .filter3 {
  height: fit-content;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
@media (max-width: 600px) {
  nav .filters-box .filters {
    width: 65vw;
    height: 7vh;
  }
}
nav .filters-box .filters > * {
  font-size: 1.2vw;
}
@media (max-width: 600px) {
  nav .filters-box .filters > * {
    font-size: 2.7vw;
  }
}
nav .filters-box .filters > *:last-of-type {
  color: #a6a6a5;
}
nav .cart {
  width: 15vw;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 600px) {
  nav .cart {
    width: 55vw;
    height: fit-content;
    background-color: rgba(248, 110, 110, 0.164);
  }
}
nav .cart .fa-concierge-bell {
  font-size: 1.8vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #f86e6e;
}
@media (max-width: 600px) {
  nav .cart .fa-concierge-bell {
    font-size: 3.8vw;
  }
}
nav .cart .order-status {
  font-size: 1.2vw;
  font-weight: bold;
}
@media (max-width: 600px) {
  nav .cart .order-status {
    font-size: 2.8vw;
  }
}
nav .cart .items-no {
  width: 2.1vw;
  height: 4vh;
  font-size: 1.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid #f86e6e;
}
@media (max-width: 600px) {
  nav .cart .items-no {
    width: 4.1vw;
    height: 2.5vh;
    font-size: 2.4vw;
  }
}

.leftItems {
  width: 20%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}
@media (max-width: 600px) {
  .leftItems {
    width: 25vw;
    height: 70vh;
    align-items: flex-start;
  }
}
.leftItems .menu-box {
  width: 15vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 5vh;
}
@media (max-width: 600px) {
  .leftItems .menu-box {
    width: 25vw;
    height: 35vh;
  }
}
.leftItems .menu-box .menu {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1.2vw;
}
.leftItems .menu-box .menu li {
  margin: 1vh 0;
  cursor: pointer;
  position: relative;
}
.leftItems .menu-box .menu li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f86e6e;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75);
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75);
}
.leftItems .menu-box .menu li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
@media (max-width: 600px) {
  .leftItems .menu-box .menu {
    width: 15vw;
    font-size: 2.7vw;
  }
}
.leftItems .menu-box .categories {
  font-size: 1vw;
  margin-top: 6rem;
  color: #a6a6a5;
}
@media (max-width: 600px) {
  .leftItems .menu-box .categories {
    font-size: 3.5vw;
    width: fit-content;
    margin: 0;
  }
}

.big-section {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90vh;
}
@media (max-width: 600px) {
  .big-section {
    flex-direction: row;
    width: 100vw;
    height: 70vh;
  }
}
.big-section .main_section {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .big-section .main_section {
    width: 75vw;
    height: 70vh;
  }
}
.big-section .main_section .menu_name {
  width: 97%;
  height: 10vh;
  font-size: 2vw;
  display: flex;
  align-items: flex-end;
  margin-left: 2vw;
}
@media (max-width: 600px) {
  .big-section .main_section .menu_name {
    display: none;
  }
}
.big-section .main_section .menu_options {
  width: 80vw;
  height: 80vh;
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}
@media (max-width: 600px) {
  .big-section .main_section .menu_options {
    width: 80vw;
    height: 70vh;
    padding: 0;
    margin-left: 7vw;
  }
}
.big-section .main_section .menu_options .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 10vw;
  min-height: 10vh;
  width: 25%;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
@media (max-width: 600px) {
  .big-section .main_section .menu_options .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50vh;
    margin: 0;
    padding: 0;
  }
}
.big-section .main_section .menu_options .item .pizza_img {
  width: 70%;
  margin-bottom: 0.5rem;
}
@media (max-width: 600px) {
  .big-section .main_section .menu_options .item .pizza_img {
    width: 80%;
  }
}
.big-section .main_section .menu_options .item .icon {
  cursor: pointer;
  font-size: 1.5vw;
  color: #f15e5e;
}
@media (max-width: 600px) {
  .big-section .main_section .menu_options .item .icon {
    font-size: 5.5vw;
  }
}
.big-section .main_section .menu_options .item .price {
  font-size: 1.2vw;
  font-style: italic;
}
@media (max-width: 600px) {
  .big-section .main_section .menu_options .item .price {
    font-size: 4.5vw;
  }
}
.big-section .main_section .menu_options .item .name {
  font-size: 1.5vw;
  font-weight: 900;
}
@media (max-width: 600px) {
  .big-section .main_section .menu_options .item .name {
    font-size: 4.5vw;
  }
}
.big-section .main_section .menu_options .item .description {
  width: 14vw;
  font-size: 0.8vw;
  text-align: center;
}
@media (max-width: 600px) {
  .big-section .main_section .menu_options .item .description {
    width: 50vw;
    font-size: 3.5vw;
    text-align: center;
  }
}
.big-section .main_section .payment {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.603);
  display: none;
}
@media (max-width: 600px) {
  .big-section .main_section .payment {
    width: 150%;
  }
}
.big-section .main_section .payment .content {
  background-color: white;
  width: 40%;
  height: 100vh;
  padding: 5rem;
  animation: Slide-in 1s, ease-in-out backwards;
}
@media (max-width: 600px) {
  .big-section .main_section .payment .content {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
}
.big-section .main_section .payment .content .p_div {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
@media (max-width: 600px) {
  .big-section .main_section .payment .content .p_div {
    width: 85vw;
    margin: 0;
  }
}
.big-section .main_section .payment .content .p_div span {
  font-size: 2.5rem;
}
.big-section .main_section .payment .content .p_div .hide_pay {
  font-size: 1.3rem;
  color: #f86e6e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
}
@media (max-width: 600px) {
  .big-section .main_section .payment .content .p_div .hide_pay {
    font-size: 1rem;
  }
}
.big-section .main_section .payment .content .p_order {
  width: 95%;
  margin-bottom: 1rem;
}
.big-section .main_section .payment .content .p_order p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  .big-section .main_section .payment .content .p_order p {
    font-size: 1.8rem;
    margin-left: 5vw;
    margin-bottom: 1rem;
  }
}
.big-section .main_section .payment .content .p_order .order_detail {
  width: 100%;
  padding: 1rem;
  height: 20rem;
  height: 20rem;
  max-height: 20vh;
  max-width: 37vw;
  overflow-y: scroll;
}
@media (max-width: 600px) {
  .big-section .main_section .payment .content .p_order .order_detail {
    width: 90%;
    padding: 1rem;
    max-height: 30vh;
    max-width: 95vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.big-section .main_section .payment .content .p_order .order_detail div {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  max-width: 30vw;
  height: 5rem;
  align-items: center;
}
@media (max-width: 600px) {
  .big-section .main_section .payment .content .p_order .order_detail div {
    margin: 0;
    max-width: 80vw;
    justify-content: space-evenly;
  }
}
.big-section .main_section .payment .content .p_order .order_detail div .pay_img {
  width: 5rem;
  margin-right: 1rem;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}
.big-section .main_section .payment .content .p_order .order_detail div .pay_name {
  margin-right: 2rem;
  font-size: 1.5rem;
}
.big-section .main_section .payment .content .p_order .order_detail div .pay_qt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ffe18e;
}
.big-section .main_section .payment .content .bill {
  width: 100%;
  margin: 1rem 0;
}
@media (max-width: 600px) {
  .big-section .main_section .payment .content .bill {
    padding: 0 2rem;
    margin: 0;
  }
}
.big-section .main_section .payment .content .bill p {
  background-color: #c8c6c6;
  height: 4rem;
  margin: 0.3rem;
  padding: 1vh 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .big-section .main_section .payment .content .bill p {
    padding: 0 1.2rem;
    margin: 0.5rem;
  }
}
.big-section .main_section .payment .content .bill p i {
  margin-right: 1rem;
  font-size: 1rem;
}
.big-section .main_section .payment .content button {
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 1.5vw;
  padding: 0.6rem;
  border-radius: 2rem;
  font-weight: bold;
  background-color: #f86e6e;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}
@media (max-width: 600px) {
  .big-section .main_section .payment .content button {
    padding: 0.6rem 2rem;
    font-size: 3.5vw;
    margin-top: -3vh;
  }
}
.big-section .main_section .pizza_det {
  width: 100%;
  height: fit-content;
  background-color: white;
  display: flex;
  animation: Slide-in 1s, ease-in-out backwards;
}
@keyframes Slide-in {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@media (max-width: 600px) {
  .big-section .main_section .pizza_det {
    width: 100%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    animation: Slide-in 1s, ease-in-out backwards;
  }
}
.big-section .main_section .pizza_det .one {
  display: flex;
  flex-direction: column;
  width: 40%;
}
@media (max-width: 600px) {
  .big-section .main_section .pizza_det .one {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.big-section .main_section .pizza_det .one i {
  font-size: 1.2vw;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 600px) {
  .big-section .main_section .pizza_det .one i {
    font-size: 3.7vw;
  }
}
.big-section .main_section .pizza_det .one img {
  width: 75%;
  margin-top: 10vh;
  animation: rotate360 2s, ease-in-out;
  align-self: flex-start;
}
@media (max-width: 600px) {
  .big-section .main_section .pizza_det .one img {
    width: 75%;
    margin-top: 5vh;
    animation: rotate360 2s, ease-in-out;
    align-self: center;
  }
}
@keyframes rotate360 {
  0% {
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
  }
}
.big-section .main_section .pizza_det .two {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .big-section .main_section .pizza_det .two {
    width: 100%;
    height: 50vh;
  }
}
.big-section .main_section .pizza_det .two .pizza_name {
  font-size: 2.5rem;
}
@media (max-width: 600px) {
  .big-section .main_section .pizza_det .two .pizza_name {
    font-size: 1.5rem;
  }
}
.big-section .main_section .pizza_det .two .pizza_description {
  color: #747474;
  font-size: 1.4rem;
}
@media (max-width: 600px) {
  .big-section .main_section .pizza_det .two .pizza_description {
    font-size: 0.7rem;
  }
}
.big-section .main_section .pizza_det .two .pizza_size,
.big-section .main_section .pizza_det .two .options {
  width: fit-content;
}
.big-section .main_section .pizza_det .two .pizza_size span,
.big-section .main_section .pizza_det .two .options span {
  width: 5rem;
  padding: 0.7rem;
  margin: 0.2vh 0.2vh;
  font-size: 1vw;
  cursor: pointer;
  background-color: #625b5b;
  color: white;
  border-radius: 2rem;
}
@media (max-width: 600px) {
  .big-section .main_section .pizza_det .two .pizza_size span,
.big-section .main_section .pizza_det .two .options span {
    width: 2vw;
    padding: 0.3rem;
    margin: 10vh 1vw;
    font-size: 2.2vw;
  }
}
.big-section .main_section .pizza_det .two .pizza_size span .selected,
.big-section .main_section .pizza_det .two .options span .selected {
  background-color: #f6f469;
}
.big-section .main_section .pizza_det .two .total {
  width: 15vw;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}
@media (max-width: 600px) {
  .big-section .main_section .pizza_det .two .total {
    width: 35vw;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
  }
}
.big-section .main_section .pizza_det .two .total .suma::before {
  content: "$";
}
.big-section .main_section .pizza_det .two .total span {
  display: flex;
  margin: 0.2rem;
  align-items: center;
}
.big-section .main_section .pizza_det .two .pay {
  width: 15rem;
  height: 4vh;
  border-radius: 2rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #ffe18e;
}
@media (max-width: 600px) {
  .big-section .main_section .pizza_det .two .pay {
    width: 60vw;
    height: 4vh;
    font-size: 1rem;
  }
}
.big-section .main_section .pizza_det .two .go_pay {
  width: 15rem;
  height: 4vh;
  margin-top: -2vh;
  background-color: #f86e6e;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
}
@media (max-width: 600px) {
  .big-section .main_section .pizza_det .two .go_pay {
    width: 60vw;
    margin: 0.2vh 0 2vh 0;
  }
}

*,
*:before,
*:after, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Roboto Slab", serif;
  color: #20201e;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
